<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>863072079952-h8eds2lg6eaarih7plmjfbuk0mhqoq8f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.863072079952-h8eds2lg6eaarih7plmjfbuk0mhqoq8f</string>
	<key>API_KEY</key>
	<string>AIzaSyD45N6_ygevsr7h1EXWz304cqREyJsROhs</string>
	<key>GCM_SENDER_ID</key>
	<string>863072079952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.happyFamily</string>
	<key>PROJECT_ID</key>
	<string>happy-family-55eba</string>
	<key>STORAGE_BUCKET</key>
	<string>happy-family-55eba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863072079952:ios:9d8e6d6ba3ffdebe1b8155</string>
</dict>
</plist>